<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Trening.Properties.Settings.AddressBookConnectionString"
            connectionString="Data Source=mysqlservermaxelm.database.windows.net;Initial Catalog=AddressBook;Persist Security Info=True;User ID=azureuser;Password=Tibia123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>